img {
	width:70px;
	height:70px;
	position: absolute;
}
body {
	background-image: url("bluepic.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
}

h2, h4 {
	margin-top: 4px;
	margin-bottom: 0px;
	color:#404040;
	position: relative;
	left: 80px;
	
}

.page_title {
	text-align:center;
}

.info_page_title {
	text-align:left;
	left: 0px;
}

h1 {
	font-weight:bold;
}

h4 {
	font-style: italic;
}

#container {
	padding-left: 10%;
    	padding-right: 10%;
    	max-width: 700px;
    	margin-right: auto;
    	margin-left: auto;
}

.footer {
	color:lightslategray;
	text-align:-webkit-auto;
	padding-top: 10px;
	border-top: lightgray;
	border-top-style: solid;
}
.signup {
 	background-color: #4073bf;
  font-size: 17px;
  border: none;
  cursor: pointer;
	border-radius: 10%;
	color:black;
}

table {
	text-align:center;
}

.left {
	text-align:left;
}

.email {
	text-decoration:underline;
	color: -webkit-link;
}

.signup a {
	text-decoration: none;
	color: black;
}

.signup:hover {
	background-color: #e6e6e6
}

#alltitles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
	
}

#menus {
	float: right;
	margin-right: 45px;
}
#title {
	width:
}
.dropbutton {
	background-color: grey;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbutton:hover, .dropbutton:focus {
	background-color: #e6e6e6;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown_content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown_content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block; 
}

.dropdown_content a:hover { background-color: #f1f1f1 }

.show {
	display: block;
}
